.backgroundImage {
    background-image: url('./660836.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -178178781;
    top: 0;
    height: 100vh;
    width: 100vw;
    left: 0;
    background-color: white;
}

.splashContainer {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 327px;
}

.splashHeading {
    font-size: 45px;
    color: white;
}

.splashPurpleWord {
    background-image: linear-gradient(to right,#ffa154 0%, #FF7954 51%, #FFAB49 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.splashJoin {
    font-size: 30px;
    font-weight: 500;
    margin-top: -5px;
    color: white;
}

.splashButtons {
    margin-top: 70px;
    margin-left: 150px;
}

.splashLogin1, .splashSignup {
    height: 50px;
    width: 150px;
    border: none;
    transition: 0.4s;
    border-radius: 5px;
    background-size: 200% auto;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.splashLogin1:hover {
    background-position: right center;
}

.splashLogin1 {
    background-image: linear-gradient(to right,#ffa154 0%, #FF7954 51%, #FFAB49 100%);
}

.splashLogin1 {
    margin-right: 20px;
    background-color: var(--lighterGray);
}

.splashLogin1:hover {
    transition: all 0.4s ease 0s;
    cursor: pointer;
    background-color: var(--mediumGray);
}

.splashSignup {
    background-color: var(--purpleTheme);
}

.splashSignup:hover {
    transitioN: all 0.4s ease 0s;
    cursor: pointer;
    background-color: var(--purpleHover);
}

@media all and (max-width: 1550px) {
    .backgroundImage {
        height: 100vh;
    }
}

@media all and (max-width: 751px) {
    .splashHeading {
        font-size: 25px;
        width: 300px;
        margin-left: -40px;
    }
    .splashJoin {
        margin-left: -40px;
    }
    .splashButtons {
        margin-top: -20px;
        margin-left: 100px;
    }
    .splashLogin1 {
        height: 45px;
        width: 130px;
    }
    .splashSignup {
        height: 45px;
        width: 130px;
    }
}
