.backgroundImage {
    background-image: url('./swiftlySplash.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -178178781;
    background-size: 100%;
}

.splashContainer {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 327px;
}


.splashHeading {
    font-size: 45px;
    color: white;
}

.splashPurpleWord {
    color: var(--purpleTheme);
}

.splashJoin {
    font-size: 30px;
    font-weight: 500;
    margin-top: -5px;
    color: var(--lighterGray);
}

.splashButtons {
    margin-top: 70px;
    margin-left: 150px;
}

.splashLogin1, .splashSignup {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.splashLogin1 {
    margin-right: 20px;
    background-color: var(--lighterGray);
}

.splashLogin1:hover {
    transition: all 0.4s ease 0s;
    cursor: pointer;
    background-color: var(--mediumGray);
}

.splashSignup {
    background-color: var(--purpleTheme);
}

.splashSignup:hover {
    transitioN: all 0.4s ease 0s;
    cursor: pointer;
    background-color: var(--purpleHover);
}
