.createReplyDiv {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid rgb(175, 175, 175);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.473);
}

.createReplyPersonContainer {
    display: flex;
    margin-top: -12px;
}

.createReplyUser {
    margin-right: 20px;
}

.createReplyImage {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: lightgray;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.createReplyTextArea {
    resize: none;
    height: 40px;
    width: 650px;
    background-color: rgb(234, 234, 234);
    border: none;
    margin-bottom: 5px;
}

.createReplyTextArea:focus {
    outline: none;
    transition: all 0.4s ease;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);


}

.createReplySubmitButton {
    height: 40px;
    width: 90px;
    border: none;
    background-color: var(--purpleTheme);
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}
.createReplySubmitButton:hover {
    background-color: var(--purpleHover);
    cursor: pointer;
}
