.createReplyDiv {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.473);
}

.createReplyUser {
    margin-left: 80px;
    margin-right: 20px;
}

.createReplyForm {

}

.createReplyTextArea {
    resize: none;
    height: 40px;
    width: 630px;
    background-color: #E9E9E9;
    border: none;
    margin-bottom: 5px;
}

.createReplyTextArea:focus {
    outline: none;
    transition: all 0.4s ease;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);


}

.createReplySubmitButton {
    height: 40px;
    width: 150px;
    border: none;
    background-color: var(--purpleTheme);
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
}
.createReplySubmitButton:hover {
    background-color: var(--purpleHover);
    cursor: pointer;
}
