.albumContainer {
    display: grid;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "create list";
}

.create {
    grid-area: create;
}

.list {
    margin-top: 20px;
    grid-area: list; }

.albumsFormHeading {
    font-size: 40px;
    margin-left: 50px;
}

.albumsFormBackground {
    margin-left: 50px;
    display: flex;
    background-color: white;
    width: 300px;
    justify-content: center;
    align-items: center;
    height: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.288);
}

.albumsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.albumsInputPhotoUrl,
.albumsInputTitle {
    height: 40px;
    width: 220px;
    border: none;
    margin-bottom: 10px;
    background-color: rgb(235, 235, 235);
}

.albumsInputPhotoUrl:focus, .albumsInputTitle:focus, .albumsDescription:focus {
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.411);
}

.albumsDescription {
    resize: none;
    border: none;
    background-color: rgb(235, 235, 235);
    height: 70px;
    width: 221px;
    margin-bottom: 15px;
}

.createAlbumLabel {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}

.albumsCreateSubmit {
    height: 40px;
    width: 150px;
    border: none;
    background-image: linear-gradient(to right,#ffa154 0%, #FF7954 51%, #FFAB49 100%);
    color: white;
    background-size: 200% auto;
    font-size: 18px;
    transition: 0.4s;
    font-weight: 500;
    border-radius: 5px;
}

.arrowContainer {
    margin-top: 100px;
    display: flex;
    width: 200px;
    align-items: center;
    margin-left: 50px;
}
.arrowContainer:hover {
    color: var(--purpleHover);
    cursor: pointer;
}

.arrowLeft {
    height: 40px;
    width: 40px;
    margin-top: 5px;
}
a.linkLink {
    width: 10%;
}
.arrowHeading {

}
.albumsCreateSubmit:hover {
    transition: all 0.4s ease 0s;
    background-position: right center;
    cursor: pointer;
}

.eachAlbumBackground {
    margin-bottom: 20px;
    background-color: white;
    width: 400px;
    text-align: center;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.473);
    flex-direction: column;
}
.eachAlbumDelete {
    /* margin-top: 15px; */
    /* background-color: red; */
    height: 35px;
    width: 80px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    background: none;
}

.albumTitleName {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.eachAlbumDelete:hover {
    color: white;
    background-color: var(--purpleTheme);
    cursor: pointer;
}

.albumsDiscoverContainer {
    margin-top: 20px;
    margin-left: 50px;

}
.albumsDiscoverButton {
    height: 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: none;
}

.albumsDiscoverButton:hover {
    background-color: var(--purpleTheme);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.315);
    cursor: pointer;
    color: white; 
}
