@import url('./variables.css');
* {
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

html {
    background-color: #F0F0F0;
}

a:visited {
    text-decoration: none;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}
