/* TODO Add site wide styles */
@import url('./variables.css');
* {
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-color: #F0F0F0;
}

a:visited {
    text-decoration: none;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}
