.createPostDiv {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    /* TEMPORARY STYLES TO GET IT ON PAGE :D */
}

.createPostForm {

}

.createPostInput {
    resize: none;
    height: 40px;
    width: 400px;
}

.createPostSubmit {

}
