.loginPageBackground {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    left: 0;
    z-index: -11981891;
    background-color: rgb(34, 34, 34);
}

.loginContainer {
    padding: 30px;
    border: none;
    border-radius: 20px;
    background-color: white;
    width: 350px;
    justify-content: center;
    height: 350px;
    text-align: center;
    margin-top: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.heading1 {
    margin-bottom: -10px;
    margin-top: -20px;
}

.loginErrorsContainer {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    position: absolute;
    left: 660px;
    font-weight: bold;
    color: white;
}

.loginEmail, .loginPassword {
    border: none;
    background-color: rgb(235, 235, 235);
}

.loginEmail:focus, .loginPassword:focus {
    outline: 2px solid;
    outline-color: var(--purpleHover);
}

::placeholder {
    text-indent: 5px;
    font-size: 15px;
    font-weight: bold;
}
.textDiv1 {
    margin-bottom: 10px; 
}

.loginSubmit {
    height: 40px;
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    background-color: var(--purpleTheme);
    margin-bottom: 15px;
}

.loginSubmit:hover {
    transition: all 0.4s;
    background-color: var(--purpleHover);
    cursor: pointer;
}

.dontHaveAccount {
    text-decoration: none;
}

a:visited {
    color: black;
}
.noAccountLink {
    font-weight: bold;
    color: var(--purpleTheme);
}

.noAccountLink:hover {
    color: var(--purpleHover);
}
