.signupBackgroundColor {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    left: 0;
    z-index: -11981891;
    background-color: rgb(34, 34, 34);
}

.signupContainer {
    padding: 30px;
    border: none;
    border-radius: 20px;
    background-color: white;
    width: 400px;
    justify-content: center;
    height: 500px;
    text-align: center;
    margin-top: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.signupErrors {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    position: absolute;
    left: 660px;
    font-weight: bold;
    color: white;
}

.signupUsername, .signupEmail,
.signupPassword,
.signupConfirm {
    height: 40px;
    width: 250px;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(235, 235, 235);
}

.signupUsername:focus, .signupEmail:focus,
.signupPassword:focus,
.signupConfirm:focus {
    outline: 2px solid;
    outline-color: var(--purpleHover);
}

.signupSubmit {
    margin-top: 10px;
    height: 40px;
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: var(--purpleTheme);
    /* margin-bottom: 15px; */
}

.signupSubmit:hover {
    transition: all 0.4s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39); 
    background-color: var(--purpleHover);
    cursor: pointer;
}

.dontHaveAccount {
    text-decoration: none;
}

a:visited {
    color: black;
}

.noAccountLink {
    font-weight: bold;
    color: var(--purpleTheme);
}

.noAccountLink:hover {
    color: var(--purpleHover);
}
