.bigDiv {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.postDiv {
    display: flex;
    /* margin-top: 100px;
    background-color: blue; */
    /* width: 100vw;  */
}
