.postDiv {
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid rgb(175, 175, 175);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
}

.homeHeadingContainer {
    margin-top: 90px;
    background-color: white;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(175, 175, 175);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
}

.homeHome {
    font-size: 35px;
}

.likeCommentContainer {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 18px;
}

.commentCommentContainer {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.optionsButton {
    border: none;
    position: absolute;
    background-color: transparent;
    align-self: flex-end;
    margin-right: 20px;
    margin-top: -15px;
    font-size: 30px;
}

.optionsDrop {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.315);
    height: 65px;
    align-items: center;
    width: 80px;
    margin-top: 40px;
    position: absolute;
    left: 1290px;
    font-size: 18px;
}

.homeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navigation feed extra";
    width: 100%;
    height: 100%;
}

.navigation {
    height: 100vh;
    width: 400px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    grid-area: navigation;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.feed {
    justify-self: center;
    grid-area: feed;
}

.extra {
    grid-area: extra;
}

.eachPostDeleteButton {
    height: 40px;
    width: 150px;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid var(--purpleTheme);
    background-color: white;
    color: var(--purpleTheme);
    font-size: 18px;
    font-weight: bold;
}

.commentOnPost {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.likedPostContainer {
    display: flex;
    align-items: center;
}

.likedThumbsUp:hover, .commentOnPost:hover {
    cursor: pointer;
    color: var(--purpleHover);
}

.likedThumbsUp {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.editTextArea {
    resize: none;
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.315);
}
.postUsernameYEH {
    margin: 0;
    margin-bottom: -11px;
}

.postUsernameYEH:hover {
    color: var(--purpleTheme);
}

.postUserImage {
    height: 100px;
    width: 100px;
}

.postUserImageSrc {
    height: 55px;
    width: 55px;
    border: none;
    border-radius: 40px;
    margin-right: 10px;
}

.userProfileImageAndUsernameContainer {
    display: flex;
}

.threeDots {
    margin-top: 20px;
    margin-right: -10px;
}

.threeDots:hover {
    color: var(--purpleTheme);
}

.eachPostDeleteButton:hover {
    cursor: pointer;
    color: white;
    border-color: var(--purpleHover);
    background-color: var(--purpleHover);
}

.editOpenDropdown:hover {
    cursor: pointer;
    color: var(--purpleTheme);
}

.commentCommentContainer:hover  {
    color: var(--purpleHover);
    cursor: pointer;
}

button.optionsButton:hover {
    cursor: pointer;
}

.eachPostTime {
    font-weight: bold;
}

.eachPostEditButton,
.editCancelButton {
    height: 40px;
    width: 100px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 10px;
}

.eachPostEditButton {
    margin-right: 20px;
    border: none;
    color: white;
    background-color: var(--purpleTheme);
}

.eachPostEditButton:hover {
    cursor: pointer;
    background-color: var(--purpleHover);
}

.editCancelButton {
    color: var(--purpleTheme);
    border: 2px solid var(--purpleTheme);
}

.editCancelButton:hover {
    cursor: pointer;
    color: white;
    border-color: var(--purpleHover);
    background-color: var(--purpleHover);
}

.navContain {
    margin-top: 150px;
    display: flex;
    margin-left: 120px;
    flex-direction: column;

}

.sideNavHome, .sideNavStories, .sideNavLiked, .sideNavFindUsers, .sideNavProfile {
    font-weight: bold;
    font-size: 30px;
    display: flex;
}

a.sideNavLinks {
    display: flex;
    align-items: center;
}


.sideNavHome {
    /* display: flex;
    align-items: center; */
}

.sideNavStories {
    /* display: flex;
    align-items: center; */
}

.sideNavLiked {
    /* display: flex;
    align-items: center; */
}

.sideNavFindUsers {
    /* display: flex;
    align-items: center; */
}

.sideNavProfile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sideNavPostButton {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--purpleTheme);
    color: white;
    margin-bottom: 60px;
}

.navProfileHandle {
    margin-top: -20px;
    margin-left: 10px;
}

.sideNavPostButton:hover {
    transition: all 0.3s ease;
    background-color: var(--purpleHover);
    cursor: pointer;
}

.navProfileImageForUser {
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 40px;
}
.navProfileUsername {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.navProfileUsername:hover {
    color: var(--purpleHover);
}

.divForProfileStuff {
    display: flex;
}

.links {
    margin-left: 10px;
}

.sideNavHome:hover,
.sideNavStories:hover,
.sideNavLiked:hover,
.sideNavFindUsers:hover,
.sideNavProfile:hover {
    background-image: linear-gradient(to left,#ffa154 0%, #FF7954 51%, #FFAB49 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
