.bigDiv {

}

.postDiv {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
}
