.wholeProfileContainer {
    display: flex;
    align-items: center;
}
.profileUserImageContainer {
    margin-top: 100px;
    /* display: flex;  */
}
.profileUserImage {
    height: 150px;
    width: 150px;
    border-radius: 80px;
}
.profileUsernameFollowButtonContainer {
    display: flex;
}
.profileUsername {

}
.profileFollowButton {

}
.profileHandleAndStatusContainer {
    display: flex;
}
.profileUserHandle {

}
.profileUserStatus {

}
