.wholeBigChungus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wholePageContainerForAllUsers {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.usersToFollow {
    margin-top: -10px;
    margin-left: 30px;
}

.returnHome {
    margin-top: 100px;
    margin-left: 30px;
    width: 80px;
}
.returnHome:hover {
    color: var(--purpleHover);
}
.allusersContainer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 220px;
}
.allusersProfileImage {
    margin-top: 10px;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.allusersImageandUsername {
    align-items: center;
    display: flex;
}
.allusersUsernames {
    font-weight: lighter;
    font-size: 30px;
}

.allusersUsernames:hover {
    color:#FF7954;
}

.allusersFollowButtonContainer {
    margin-bottom: 40px;
}
.allusersFollowButton {
    height: 35px;
    width: 100px;
    background-color: var(--purpleTheme);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 40px;
}

.allusersFollowButton:hover {
    background-color: var(--purpleHover);
    cursor: pointer;
}
