.wholeBigChungus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wholePageContainerForAllUsers {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.usersToFollow {
    margin-top: -10px;
    margin-left: 30px;
}

.returnHome {
    margin-top: 100px;
    margin-left: 30px;
    width: 80px;
}
.returnHome:hover {
    color: var(--purpleHover);
}
.allusersContainer {
    background-color: white;
    padding: 5px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.438);
    border-radius: 20px;
    flex-direction: column;
    width: 250px;
}
.allusersProfileImage {
    margin-top: 10px;
    height: 70px;
    width: 70px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    border-radius: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 20px;
}
.allusersImageandUsername {
    align-items: center;
    display: flex;
}
.allusersUsernames {
    font-weight: lighter;
    font-size: 30px;
}

.allusersUsernames:hover {
    color:#FF7954;
}
.allusersFollowButtonContainer {
    width: 220px;
    font-weight: lighter;
    display: flex;
    height: 50px;

    /* align-items: flex-start; */
}
.handleForUsers {
    margin-top: -5px;
    font-weight: lighter;
}
.allusersFollowButton {
    height: 35px;
    width: 100px;
    background-color: var(--purpleTheme);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 40px;
}

.allusersFollowButton:hover {
    background-color: var(--purpleHover);
    cursor: pointer;
}
