.addImageFormContainer {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px; 
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.486);
}

.addImageForm {
    display: flex;
    flex-direction: column;
}
